{% extends "index.html" %}

{% block title %}<title>Login</title>{% endblock %}

{% load crispy_forms_tags %}

{% block header %}
{% endblock %}

{% block content %}
<h1>Login</h1>
<form method='post' action="/accounts/validate_login">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
  <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
  <input type="submit" class="fadeIn fourth" value="Log In">
</form>
{% endblock %}